@use "../utilities" as *;

/**----------------------------------------
    START: Home 7 CSS CSS
----------------------------------------*/

.hero-section-7{
    position: relative;
    z-index: 1;
    padding-bottom: 90px;
    .bg-img{
        @include background;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        &:before{
            background-color: var(--tl-color-common-black);
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.64;
        }
    }
    .hero-text{
        position: absolute;
        bottom: 100px;
        right: 0;
        span{
            font-family: var(--tl-ff-heading);
            background: linear-gradient(180deg, #FFFFFF 14.9%, rgba(153, 153, 153, 0) 65.95%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            opacity: 0.24;
            font-weight: 400;
            font-size: 360px;
            line-height: 1;
        }
    }
}

.hero-wrap-7{
    padding-top: 400px;
    max-width: 1770px;
    width: 100%;
    margin: 0 auto;
    @include flex-vertical-center;
    justify-content: space-between;
    position: relative;
    z-index: 4;
    @include breakpoint(xl){
        padding-top: 250px;
    }
    @include breakpoint(sm){
        padding-top: 150px;
    }
    @include breakpoint(md){
        flex-direction: column;
        row-gap: 30px;
        align-items: baseline;
    }
    .hero-content-7{
        .section-heading{
            .section-title{
                font-size: 110px;
                font-weight: 400;
                @include breakpoint(lg){
                    font-size: 70px;
                }
                @include breakpoint(sm){
                    font-size: 50px;
                }
            }
        }
    }
    .hero-content-right{
        .hero-right-box{
            background: rgba(243, 243, 243, 0.31);
            opacity: 0.95;
            border: 1px solid rgba(255, 255, 255, 0.13);
            backdrop-filter: blur(29px);
            border-radius: 24px;
            padding: 20px;
            display: grid;
            align-items: center;
            grid-template-columns: 200px 1fr;
            grid-gap: 25px;
            max-width: 470px;
            width: 100%;
            @include breakpoint(lg){
                grid-template-columns: 1fr;
            }
            .box-img{
                max-width: 200px;
                width: 100%;
                height: 160px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 11px;
                }
            }
            .content{
                .title{
                    color: var(--tl-color-common-white);
                    font-size: 20px;
                    font-weight: 400;
                    margin-bottom: 15px;
                    line-height: 1;
                }
                p{
                    color: var(--tl-color-common-white);
                    margin-bottom: 20px;
                }
                a{
                    font-family: var(--tl-ff-heading);
                    color: var(--tl-color-common-white);
                    font-size: 16px;
                    font-weight: 400;
                    text-decoration: underline;
                    line-height: 1;
                    &:hover{
                        color: var(--tl-color-theme-primary)
                    }
                }
            }
        }
    }
}

.hero-bottom-7{
    @include flex-vertical-center;
    justify-content: space-between;
    max-width: 1410px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 60px;
    border-top: 1px solid rgba(255, 255, 255, 0.24);
    @include breakpoint(sm){
        flex-direction: column;
        align-items: baseline;
        row-gap: 30px;
    }
    p{
        color: var(--tl-color-common-white);
        font-size: 18px;
        font-weight: 500;
        max-width: 462px;
        width: 100%;
        margin-bottom: 0;
    }
}

// About CSS

.about-section-7{
    position: relative;
    z-index: 1;
    .shape-1{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
}

.about-wrap-7{
    align-items: end;
    .about-img-7{
        max-width: 280px;
        width: 100%;
        height: 210px;
        @include breakpoint(sm){
            max-width: 100%;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 24px;
        }
    }
    .about-content-7{
        @include flex-vertical-center;
        align-items: start;
        justify-content: space-between;
        column-gap: 70px;
        margin-left: 25px;
        @include breakpoint(md){
            margin-left: 0;
            margin-top: 40px;
        }
        .left-content{
            max-width: 690px;
            width: 100%;
            .about-desc{
                color: var(--tl-color-heading-primary);
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 30px;
            }
            .about-btn{
                margin-top: 50px;
            }
        }
        .about-thumb-7{
            max-width: 200px;
            width: 100%;
            height: 210px;
            margin-top: -110px;
            @include breakpoint(sm){
                display: none;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 24px;
            }
        }
    }
}

// Project CSS

.project-section-7{
    background-color: #241C18;
}

.project-left-content-7{
    @include breakpoint(md){
        margin-bottom: 40px;
    }
    .section-heading{
        margin-bottom: 400px;
        @include breakpoint(md){
            margin-bottom: 60px;
        }
        p{
            max-width: 445px;
            width: 100%;
        }
    }
}

.project-item-7{
    position: relative;
    overflow: hidden;
    &:not(:last-of-type){
        margin-bottom: 40px;
    }
    .project-thumb{
        height: 880px;
        position: relative;
        border-radius: 24px;
        overflow: hidden;
        @include breakpoint(md){
            height: 600px;
        }
        @include breakpoint(sm){
            height: 400px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 24px;
        }
        &:before{
            background: linear-gradient(180deg, rgba(185, 183, 174, 0) 0%, rgba(134, 132, 126, 0.54) 19.25%, #53524E 46.79%);
            content: "";
            width: 100%;
            height: 343px;
            position: absolute;
            bottom: 0px;
            left: 0;
            z-index: 0.85;

        }
        ul{
            position: absolute;
            bottom: 60px;
            right: 40px;
            z-index: 2;
            @include breakpoint(sm){
                right: auto;
                left: 20px;
                bottom: auto;
                top: 30px;
            }
            li{
                font-family: var(--tl-ff-heading);
                display: inline-flex;
                color: var(--tl-color-common-white);
                font-size: 13px;
                font-weight: 400;
                text-transform: uppercase;
                border: 1px solid rgba(255, 255, 255, 0.46);
                border-radius: 100px;
                padding: 3.5px 13.5px;
            }
        }
    }
    .project-content{
        position: absolute;
        left: 40px;
        bottom: 50px;
        right: 40px;
        z-index: 2;
        @include breakpoint(sm){
            left: 20px;
            bottom: 30px;
        }
        .title{
            color: var(--tl-color-common-white);
            font-size: 36px;
            font-weight: 400;
        }
        p{
            color: var(--tl-color-common-white);
            margin-bottom: 0;
        }
    }
}


// Service CSS

.service-section-7{
    padding-bottom: 425px;
    position: relative;
    z-index: 1;
    overflow-x: clip;
    @include breakpoint(sm){
        padding-bottom: 100px;
    }
    .counter-text{
        font-family: var(--tl-ff-heading);
        font-size: 420px;
        font-weight: 400;
        line-height: 1;
        color: #9F9FA4;
        opacity: 0.13;
        margin-bottom: 0;
        position: absolute;
        bottom: -62px;
        left: 77px;
        z-index: -1;
        @include breakpoint(md){
            display: none;
        }
    }
    .counter-element{
        position: absolute;
        bottom: -15%;
        right: 77px;
        @include breakpoint(xl){
            bottom: -12%;
        }
        @include breakpoint(lg){
            bottom: -10%;
        }
        @include breakpoint(md){
            bottom: -4%;
        }
        @include breakpoint(sm){
            display: none;
        }
    }
}

.service-img-7-wrap{
    .img-text{
        font-size: 20px;
        font-weight: 400;
        color: var(--lt-color-heading-primary);
        margin-bottom: 40px;
    }
}

.service-img-7{
    max-width: 450px;
    width: 100%;
    height: 540px;
    @include breakpoint(sm){
        height: 350px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 24px;
    }
}

.service-item-wrap-7{
    max-width: 810px;
    width: 100%;
    margin-left: auto;
}

.service-item-7{
    position: relative;
    cursor: pointer;
    padding-bottom: 40px;
    border-bottom: 1px solid #59585D;
    &:first-child{
        padding-top: 40px;
        border-top: 1px solid #59585D;
    }
    &:not(:last-of-type){
        margin-bottom: 40px;
    }
    .service-item-inner{
        @include flex-vertical-center;
        justify-content: space-between;
        @include breakpoint(sm){
            flex-direction: column;
            row-gap: 20px;
            align-items: baseline
        }
        .left-content{
            @include flex-vertical-center;
            align-items: start;
            column-gap: 100px;
            @include breakpoint(lg){
                column-gap: 50px;
            }
            @include breakpoint(sm){
                flex-direction: column;
                row-gap: 20px;
                align-items: baseline
            }
            span{
                font-family: var(--tl-ff-heading);
                color: #9F9FA4;
                font-size: 16px;
                font-weight: 400;
            }
            .left-content-inner{
                position: relative;
                padding-bottom: 0px;
                width: 550px;
                @include transition(all 0.4s ease-in-out);
                .title{
                    font-size: 36px;
                    font-weight: 400;
                    line-height: 1;
                    margin-bottom: 0;
                    @include transition(all 0.4s ease-in-out);
                    @include breakpoint(lg){
                        font-size: 28px;
                    }
                    @include breakpoint(sm){
                        font-size: 22px;
                    }
                }
                p{
                    font-size: 16px;
                    margin-bottom: 0;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    visibility: hidden;
                    opacity: 0;
                    @include transition(all 0.4s ease-in-out);
                }
            }
        }
    }
    &:hover{
        .service-item-inner{
            .left-content{
                .left-content-inner{
                    padding-bottom: 60px;
                    .title{
                        a{
                            color: var(--tl-color-theme-primary);
                        }
                        margin-bottom: 20px;
                    }
                    p{
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

// Exp CSS

.exp-section{
    background-color: #241C18;
}

.exp-heading{
    .section-title{
        font-size: 60px;
        @include breakpoint(sm){
            font-size: 40px;
        }
    }
}

.exp-wrap{
    &>div{
        &:nth-child(2){
            margin-top: 60px;
            @include breakpoint(md){
                margin-top: 0!important;
            }
            @include breakpoint(sm){
                margin-top: 24px!important;
            }
        }
        &:nth-child(3){
            margin-top: 120px;
            @include breakpoint(md){
                margin-top: 24px!important;
            }
            @include breakpoint(sm){
                margin-top: 24px!important;
            }
        }
        &:nth-child(4){
            margin-top: 180px;
            @include breakpoint(md){
                margin-top: 24px!important;
            }
            @include breakpoint(sm){
                margin-top: 24px!important;
            }
        }
    }
}

.exp-item{
    .exp-img{
        height: 180px;
        margin-bottom: 20px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 24px;
        }
    }
    .exp-content{
        .title{
            color: var(--tl-color-common-white);
            font-size: 26px;
            font-weight: 400;
        }
        .line{
            background-color: #E3E3E8;
            width: 100%;
            height: 1px;
            display: block;
            opacity: 0.18;
            margin: 20px 0;
            position: relative;
            &:before{
                background-color: #E3E3E8;
                content: "";
                width: 15px;
                height: 1px;
                position: absolute;
                bottom: 3px;
                right: 0;
                transform: rotate(20deg);
            }
        }
        p{
            max-width: 286px;
            width: 100%;
            color: var(--tl-color-common-white);
            margin-bottom: 0;
        }
    }
}

// Award CSS

.award-section{
    position: relative;
    z-index: 1;
    .bg-shape{
        max-width: 700px;
        width: 100%;
        max-height: 720px;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .section-heading-wrap{
        margin-left: 0;
    }
}

.award-img{
    height: 510px;
    max-width: 420px;
    width: 100%;
    margin: 0 auto;
    @include breakpoint(md){
        margin: 0 auto;
        margin-bottom: 50px;
    }
    @include breakpoint(md){
        height: 400px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 24px;
    }
}

.award-item-list{
    .award-item{
        @include flex-vertical-center;
        justify-content: space-between;
        cursor: pointer;
        padding: 28px 0;
        border-bottom: 1px solid rgba(159, 159, 164, 0.24);
        &:first-child{
            border-top: 1px solid rgba(159, 159, 164, 0.24);
        }
        @include breakpoint(sm){
            flex-wrap: wrap;
            row-gap: 10px;
            justify-content: center;
        }
        .left-content{
            @include flex-vertical-center;
            column-gap: 90px;
            @include breakpoint(xl){
                column-gap: 40px;
            }
            @include breakpoint(sm){
                justify-content: center;
            }
            .number{
                font-family: var(--tl-ff-heading);
                color: var(--tl-color-grey-2);
                font-size: 16px;
                font-weight: 400;
                @include transition(all 0.3s ease-in-out);
            }
            .title{
                font-size: 30px;
                font-weight: 400;
                margin-bottom: 0;
                line-height: 1;
                @include breakpoint(lg){
                    font-size: 24px;
                }
                @include breakpoint(sm){
                    font-size: 16px;
                }
            }
        }
        .mid-content{
            span{
                font-family: var(--tl-ff-heading);
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 14px;
                font-weight: 400;
            }
        }
        &.active,
        &:hover{
            .left-content{
                .number{
                    color: var(--tl-color-heading-primary);
                }
                .title{
                    color: var(--tl-color-theme-primary);
                }
            }
            .arrow{
                a{
                    color: var(--tl-color-theme-primary);
                    transform: rotate(0);
                }
            }
        }
    }
}

// Video CSS

.video-area-wrap{
    height: 800px;
    @include flex-center;
    position: relative;
    z-index: 1;
    @include breakpoint(md){
        height: 600px;
    }
    @include breakpoint(sm){
        height: 400px;
    }
    .video-bg{
        @include background;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .play-btn{
        a{
            background: rgba(255, 255, 255, 0.36);
            opacity: 0.95;
            border: 1px solid rgba(255, 255, 255, 0.11);
            backdrop-filter: blur(29px);
            width: 120px;
            height: 120px;
            @include flex-center;
            border-radius: 50%;
            font-family: var(--tl-ff-heading);
            color: var(--tl-color-common-white);
            text-transform: capitalize;
        }
    }
}


// Team CSS

.team-item-7{
    .team-thumb{
        height: 420px;
        border-radius: 24px;
        overflow: hidden;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 24px;
        }
        &:before{
            position: absolute;
            content: "";
            width: 100%;
            height: 35%;
            bottom: -10px;
            left: 0px;
            z-index: 1;
            background: linear-gradient(rgba(185, 183, 174, 0) 8.17%, rgba(108, 106, 100, 0.64) 41.26%, rgb(31, 30, 26) 100%);
            border-radius: 0px 0px 24px 24px;
            transition: 0.5s;
            visibility: hidden;
            opacity: 0;
        }
        .team-social{
            @include flex-vertical-center;
            column-gap: 10px;
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 5;
            transition: 0.5s;
            visibility: hidden;
            opacity: 0;
            li{
                display: inline-flex;
                a{
                    width: 40px;
                    height: 40px;
                    font-size: 0.875rem;
                    @include flex-center;
                    color: rgb(255, 255, 255);
                    border-width: 1px;
                    border-style: solid;
                    border-color: rgb(255, 255, 255);
                    border-image: initial;
                    border-radius: 50%;
                    transition: 0.5s;
                    &:hover{
                        background-color: var(--tl-color-theme-primary);
                        border-color: var(--tl-color-theme-primary);
                    }
                }
            }
        }
    }
    .team-content{
        margin-top: 30px;
        .title{
            font-size: 30px;
            font-weight: 400;
            line-height: 1;
            margin-bottom: 10px;
        }
        span{
            font-family: var(--tl-ff-heading);
            font-size: 13px;
            line-height: 1;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }
    &:hover{
        .team-thumb{
            &:before{
                visibility: visible;
                opacity: 1;
                bottom: 0;
            }
            .team-social{
                visibility: visible;
                opacity: 1;
                bottom: 30px;
            }
        }
    }
}


// Testi CSS

.testimonial-section{
    background-color: #EEEEEE;
    overflow-x: clip;
}

.testi-img{
    max-width: 640px;
    width: 100%;
    height: 460px;
    @include breakpoint(md){
        margin-bottom: 40px;
    }
    @include breakpoint(sm){
        height: 350px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 24px;
    }
}

.testi-carousel-wrap-7{
    max-width: 850px;
    width: 100%;
    margin-left: auto;
}

.testi-carousel-wrap{
    .testi-top-content-wrap{
        @include flex-vertical-center;
        align-items: start;
        column-gap: 70px;
        border-bottom: 1px solid rgba(28, 28, 29, 0.10);
        margin-bottom: 40px;
        padding-bottom: 45px;
        .testi-top-content{
            @include flex-vertical-center;
            column-gap: 50px;
            border: none;
            margin-bottom: 0;
            padding-bottom: 0;
            @include breakpoint(sm){
                flex-wrap: wrap;
                row-gap: 20px
            }
            .left-content{
                @include flex-vertical-center;
                column-gap: 10px;
                @include breakpoint(xl){
                    flex-wrap: wrap;
                    row-gap: 15px;
                }
                .rating{
                    font-size: 60px;
                    font-weight: 400;
                    margin-bottom: 0;
                    line-height: 1;
                }
                .rating-list{
                    ul{
                        background-color: var(--tl-color-theme-primary);
                        border-radius: 100px;
                        padding: 3px 7px 7px 8px;
                        display: inline-block;
                        line-height: 1;
                        margin-bottom: 5px;
                        li{
                            font-size: 12px;
                            display: inline-flex;
                            line-height: 1;
                            color: var(--tl-color-common-white);
                        }
                    }
                    span{
                        color: var(--tl-color-heading-primary);
                        font-size: 15px;
                        font-weight: 500;
                        display: block;
                    }
                }
            }
            .right-content{
                p{
                    font-family: var(--tl-ff-heading);
                    color: var(--tl-color-heading-primary);
                    font-size: 18px;
                    font-weight: 400;
                    margin-bottom: 0;
                    @include breakpoint(xl){
                        br{
                            display: none;
                        }
                    }
                }
            }
        }
        .swiper-nav-wrap{
            @include flex-vertical-center;
            column-gap: 10px;
        }
        .swiper-nav{
            background-color: var(--tl-color-theme-primary);
            color: var(--tl-color-common-white);
            @include flex-center;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            @include transition(all 0.3s ease-in-out);
            border: 1px solid var(--tl-color-theme-primary);
            i{
                @include transition(all 0.3s ease-in-out);
            }
            &:hover{
                background-color: var(--tl-color-common-white);
                color: var(--lt-color-heading-primary);
                border: 1px solid var(--tl-color-common-white);
            }
            &.swiper-prev{
                &:hover{
                    i{
                        transform: rotate(45deg);
                    }
                }
            }
            &.swiper-next{
                &:hover{
                    i{
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}

.testi-item{
    p{
        color: var(--tl-color-heading-primary);
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 40px;
        max-width: 671px;
        width: 100%;
        line-height: 1.3;
    }
    .testi-author{
        display: grid;
        align-items: center;
        grid-template-columns: 64px 1fr;
        grid-gap: 17px;
        .author-img{
            height: 64px;
            width: 64px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        .name{
            font-size: 22px;
            font-weight: 400;
            margin-bottom: 0;
            span{
                font-family: var(--tl-ff-body);
                color: var(--tl-color-text-body);
                font-size: 15px;
                font-weight: 500;
                display: block;
                margin-top: 5px;
            }
        }
    }
}


// FAQ CSS

.faq-content-2{
    padding-left: 20px;
    max-width: 1000px;
    width: 100%;
    @include breakpoint(md){
        margin-top: 50px;
    }
    .faq-accordion{
        border-radius: 0;
        .accordion-item{
            background-color: transparent;
            border: none;
            border-radius: 0;
            padding: 0;
            &:last-child{
                border-bottom: 1px solid rgba(159, 159, 164, 0.24);
            }
            .accordion-button{
                background-color: transparent;
                color: var(--lt-color-heading-primary);
                border: none;
                box-shadow: none;
                font-size: 28px;
                font-weight: 400;
                padding: 0;
                padding-bottom: 23px;
                padding-top: 23px;
                border-radius: 0;
                border-top: 1px solid rgba(159, 159, 164, 0.24);
                @include breakpoint(sm){
                    @include flex-vertical-center;
                    flex-direction: column;
                    row-gap: 10px;
                    align-items: baseline;
                    font-size: 18px;
                    position: relative;
                }
                &:after{
                    color: var(--lt-color-heading-primary);
                    background-image: none;
                    font-family: "Font Awesome 6 Pro";
                    font-size: 14px;
                    font-weight: 700;
                    content: "+";
                    line-height: 1;
                    @include flex-center;
                    border-radius: 50%;
                    @include breakpoint(sm){
                        position: absolute;
                        right: 0;
                        top: 45%;
                    }
                }
                &:not(.collapsed){
                    color: var(--tl-color-theme-primary);
                    border-color: #1C1C1D;
                    &:after{
                        content: "-";
                        transform: rotate(0);
                    }
                }
                span{
                    width: 40px;
                    color: #9F9FA4;
                    font-size: 16px;
                    font-weight: 400;
                    @include breakpoint(sm){
                        font-size: 18px;
                    }
                }
            }
            .accordion-body{
                color: var(--lt-color-text-body);
                max-width: 830px;
                width: 100%;
                font-size: 16px;
                font-weight: 400;
                padding: 0;
                padding-top: 0px;
                padding-bottom: 40px;
                padding-left: 40px;
                @include breakpoint(sm){
                    padding-left: 10px;
                }
            }
        }
    }
}

.faq-img-wrap-7{
    .faq-img{
        height: 390px;
        max-width: 450px;
        width: 100%;
        margin-bottom: 30px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 24px;
        }
    }
    .title{
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    p{
        margin-bottom: 0;
    }
}

// cta CSS

.cta-section-5{
    position: relative;
    padding: 240px 0 225px 0;
    @include breakpoint(sm){
        padding: 100px 0;
    }
    .cta-bg{
        @include background;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        &:before{
            background-color: #000000;
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.54;
        }
    }
}

.cta-wrap-5{
    .cta-btn-wrap{
        .cta-btn{
            background-color: rgba(255, 255, 255, 0.24);
            opacity: 0.95;
            border: 1px solid rgba(255, 255, 255, 0.09);
            backdrop-filter: blur(29px);
            font-family: var(--tl-ff-heading);
            color: var(--tl-color-common-white);
            font-size: 18px;
            font-weight: 400;
            line-height: 1.2;
            height: 120px;
            width: 120px;
            margin: 0 auto;
            @include flex-center;
            border-radius: 50%;
            &:hover{
                background-color: var(--tl-color-theme-primary);
                border-color: var(--tl-color-theme-primary);
            }
        }
    }
}

/* !END: Home 7 CSS CSS */
