@use "../utilities" as *;

/**----------------------------------------
    START: Home 8 CSS
----------------------------------------*/

.hero-section-8{
    background-color: transparent;
    position: relative;
    z-index: 1;
    .bg-shape{
        @include background;
        width: 100%;
        height: 910px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .bg-color{
        background-color: var(--tl-color-common-white);
        width: 100%;
        height: 400px;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        @include breakpoint(sm){
            height: 200px;
        }
    }
}

.hero-wrap-8{
    @include breakpoint(md){
        padding-top: 150px;
    }
    .hero-content-8{
        @include flex-vertical-center;
        align-items: end;
        justify-content: space-between;
        max-width: 100%;
        width: 100%;
        margin-bottom: 80px;
        @include breakpoint(md){
            flex-direction: column;
            align-items: start;
            row-gap: 30px;
        }
        .section-heading{
            .section-title{
                color: var(--tl-color-heading-primary);
                font-size: 110px;
                font-weight: 400;
                @include breakpoint(lg){
                    font-size: 80px;
                }
                @include breakpoint(sm){
                    font-size: 60px;
                }
            }
        }
        .hero-content-left{
            max-width: 450px;
            width: 100%;
            p{
                color: var(--tl-color-text-body);
                margin-bottom: 0px;
                font-size: 18px;
                font-weight: 500;
            }
            .hero-thumb{
                max-width: 510px;
                width: 100%;
                height: 267px;
                margin-bottom: 30px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 28px;
                }
            }
        }
    }
    .hero-bottom-img{
        height: 800px;
        overflow: hidden;
        border-radius: 24px;
        @include breakpoint(lg){
            height: 600px;
        }
        @include breakpoint(sm){
            height: 400px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 24px;
        }
    }
}

// Feature CSS

.feature-8{
    padding-bottom: 425px;
    position: relative;
    z-index: 2;
    overflow-x: clip;
    @include breakpoint(sm){
        padding-bottom: 100px;
    }
    .feature-text{
        font-family: var(--tl-ff-heading);
        font-size: 420px;
        font-weight: 400;
        line-height: 1;
        color: #9F9FA4;
        opacity: 0.13;
        margin-bottom: 0;
        position: absolute;
        bottom: -62px;
        left: 77px;
        z-index: -1;
        @include breakpoint(sm){
            display: none;
        }
    }
    .feature-element{
        position: absolute;
        bottom: -22%;
        right: 57px;
        @include breakpoint(lg){
            bottom: -26%;
        }
        @include breakpoint(md){
            bottom: -8%;
        }
    }
}

.feature-img{
    max-width: 720px;
    width: 100%;
    height: 520px;
    position: relative;
    @include breakpoint(sm){
        height: 400px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 24px;
    }
    .img-content{
        background: rgba(21, 24, 31, 0.46);
        opacity: 0.95;
        border: 1px solid rgba(255, 255, 255, 0.07);
        backdrop-filter: blur(29px);
        border-radius: 24px;
        padding: 30px;
        position: absolute;
        bottom: 20px;
        left: 20px;
        max-width: 420px;
        width: 100%;
        @include breakpoint(sm){
            max-width: 280px;
            left: 10px;
        }
        p{
            color: var(--tl-color-common-white);
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 0;
        }
    }
}

.feature-item-list{
    @include breakpoint(md){
        margin-top: 50px;
    }
    &.feature-item-list-1{
        max-width: 640px;
        width: 100%;
        margin-left: auto;
        @include breakpoint(md){
            margin-left: 0;
        }
    }
}

.feature-item{
    @include flex-vertical-center;
    position: relative;
    padding: 28px 0;
    border-bottom: 1px solid var(--tl-color-border-1);
    cursor: pointer;
    &:nth-child(1){
        border-top: 1px solid var(--tl-color-border-1);
    }
    .number{
        font-family: var(--tl-ff-heading);
        font-size: 16px;
        font-weight: 400;
        display: block;
        width: 44px;
        line-height: 1;
        margin-bottom: -4px;
    }
    .title{
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 0;
        @include breakpoint(lg){
            font-size: 26px;
        }
        @include breakpoint(sm){
            font-size: 16px;
        }
    }
    .arrow{
        background-color: var(--tl-color-theme-primary);
        color: var(--tl-color-common-white);
        font-size: 20px;
        height: 42px;
        width: 42px;
        @include flex-center;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        @include breakpoint(sm){
            height: 30px;
            width: 30px;
            font-size: 12px;
        }
        i{
            @include transition(all 0.3s ease-in-out);
        }
    }
    &.active .title a,
    &:hover .title a{
        color: var(--tl-color-theme-primary);
    }
    &.active .arrow i,
    &:hover .active i{
        transform: rotate(-45deg);
    }
}


// About CSS

.about-section-8{
    position: relative;
    z-index: 1;
    .about-bg{
        @include background;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
    }
    .bg-blur-shape{
        background: linear-gradient(270deg, #000000 35.95%, rgba(0, 0, 0, 0.984537) 45.87%, rgba(1, 1, 1, 0.958808) 56.88%, rgba(3, 3, 3, 0.794181) 69.78%, rgba(7, 6, 6, 0.55007) 85.95%, rgba(16, 14, 14, 0) 100%);
        width: 1744px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        opacity: 0.9;
    }
}

.about-img-8{
    max-width: 700px;
    width: 100%;
    height: 460px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 24px;
    }
}

.about-content-8{
    max-width: 630px;
    width: 100%;
    margin-left: auto;
    @include breakpoint(md){
        margin-left: 0;
    }
    .desc{
        font-size: 20px;
        font-weight: 500;
    }
    ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        list-style: none;
        gap: 5px;
        margin: 30px 0;
        @include breakpoint(sm){
            grid-template-columns: 1fr;
        }
        li{
            font-family: var(--tl-ff-heading);
            @include flex-vertical-center;
            column-gap: 10px;
            font-size: 20px;
            font-weight: 400;
            i{
                color: var(--tl-color-theme-primary);
            }
        }
    }
    .about-btn{
        margin-top: 30px;
    }
}


/* !END: Home 8 CSS */
